@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #030304;
  margin: 0;
  overflow-x: hidden;
}

/* Custom Utilities */
.clip-path-slant {
  clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
}

.perspective-1000 {
  perspective: 1000px;
}